#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%; /* 新增：寬度和標頭一致 */
  margin: 0 auto;  /* 新增：置中 */

}

.card {
  box-sizing: border-box;
  /* 設定在容器內的狀態 */
  /* 放13張牌寬度占比 若有空間是否填滿? 伸縮? */
  flex: 7% 1 1;  /* 修改：卡片需要分配剩餘空間 */
  height:8vw;
  border:2px solid #e0e0e0 ;

  margin: 2px;

  /* 設定內部排列 */
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self:center;
}

.card p {
  margin:3px;
  font-size:10px;
  padding: 6px;
}

.card p:last-child {
  align-self: flex-end;
  transform:rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin:0;
  flex-direction: column;
  align-items: flex-end;

  width:100%;
}

#header .title {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h3 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .triedtimens {
  margin-top: 0;
}

.wrong {
  animation: wrongAnimation 0.2s;
  animation-iteration-count: 5 ;
}

/* 邊框閃爍的效果， CSS3的 */
@keyframes wrongAnimation {
  to {
    border:2px solid #f1c232;
  }

}


/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
  border-bottom:5px solid gold;
  border-top:5px solid gold;
}
.completed > p {
  font-size: 1.5em;
  color: rgb(0, 128, 68);
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 4em;
  font-weight: 600;
  color: rgb(0, 119, 255);
}